<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'pet shop/shopindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/">
    {% csrf_token %}
  <table class="pull-left">
      <tr>
          <td><input type="text" name="textfield"class="form-control"> </td>
          <td><input type="submit" value="search"class="btn btn-warning"> </td>
      </tr>
  </table>
<table class="table table-bordered">
    <tr>
      <th scope="col">Sl NO</th>
{#      <th scope="col">Shop Name</th>#}
      <th scope="col">Disease Name</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Remedy</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>


      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
{#      <td>&nbsp;</td>#}
      <td>{{ i.disease_name }}</td>
      <td><img src="{{ i.image}}" height="100" width="100"> </td>
      <td>{{ i.description }}</td>
      <td>{{ i.remedy }}</td>
      <td><a href="/myapp/Editdisease/{{i.id}}">Edit</a></td>
      <td><a href="/myapp/Deletedisease/{{ i.id }}">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
</html>
