<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'pet shop/shopindex.html' %}
{% block body %}
<body>
<form action="/myapp/editpet_products_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
<table class="table table-bordered">
 <tr>
      <td>product name</td>
      <td><label for="textfield"></label>
      <input type="text" value="{{ data.product_name }}" name="textfield" id="textfield" class="form-control" /></td>
    </tr>
    <tr>
      <th scope="col">Photo</th>
      <th scope="col"><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" /></th>
    </tr>


    <tr>
      <td>Description</td>
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea"class="form-control"required cols="45" rows="5">{{ data.description }}</textarea></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><label for="textfield3"></label>
      <input type="text" value="{{ data.price }}" name="textfield3" id="textfield3"class="form-control" /></td>
    </tr>
{#    <tr>#}
{#      <td>Shop_name</td>#}
{#      <td><label for="textfield4"></label>#}
{#      <input type="text" name="textfield4" id="textfield4" /></td>#}
{#    #}
      <tr>
      <td>Type</td>
      <td><label for="textfield5"></label>
      <input type="radio" name="textfield6" {% if data.type == "FOOD" %} checked{% endif %} id="textfield6" value="FOOD" />FOOD
      <input type="radio" name="textfield6" {% if data.type == "ACCESSORIES" %} checked{% endif %} id="textfield6" value="ACCESSORIES" />ACCESSORIES

      </td>
    </tr>
    <tr>
      <td><input type="submit" name="button" id="button" value="Add"class="btn btn-warning" /></td>
      <td></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
</html>
