<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Petify</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/admin/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/admin/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/admin/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area ">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="/static/admin/images/logooo.png" alt="">
          </a>




                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/myapp/adminhome/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/myapp/Viewpetshop/">Pet Shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/myapp/adminViewdeliveryboy/">Delivery Boy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/myapp/Reviewdeliveryboy/">Review</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/myapp/add_nearby_vets_get/">Add Veterinary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/myapp/Changepassdb/">Change Password</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/myapp/Login/">Logout</a>
    </li>
  </ul>
</div>

    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <div class="number">
                      <h5>
                        01
                      </h5>
                    </div>
                    <h1>
                      Petify <br>
                      <span>
                        All In One Pet Care Platform
                      </span>
                    </h1>
                    <p>
                        Petify is an all-in-one pet care platform where you can buy or sell pets, book grooming and vet services, shop pet products, and get everything your pet needs.
                    </p>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/static/admin/images/catttt.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <div class="number">
                      <h5>
                        02
                      </h5>
                    </div>
                    <h1>
                      Petify <br>
                      <span>
                        Pet And Animal
                      </span>
                    </h1>
                       <p>
                        Petify is an all-in-one pet care platform where you can buy or sell pets, book grooming and vet services, shop pet products, and get everything your pet needs.
                    </p>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/static/admin/images/catttt.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <div class="number">
                      <h5>
                        03
                      </h5>
                    </div>
                    <h1>
                      Petify <br>
                      <span>
                        Pet And Animal
                      </span>
                    </h1>
                      <p>
                        Petify is an all-in-one pet care platform where you can buy or sell pets, book grooming and vet services, shop pet products, and get everything your pet needs.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/static/admin/images/catttt.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <div class="number">
                      <h5>
                        04
                      </h5>
                    </div>
                    <h1>
                      Petify<br>
                      <span>
                        Pet And Animal
                      </span>
                    </h1>
                    <p>
                        Petify is an all-in-one pet care platform where you can buy or sell pets, book grooming and vet services, shop pet products, and get everything your pet needs.
                    </p>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/static/admin/images/catttt.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">



        {% block body %}

        {% endblock %}

{#      <div class="detail-box">#}
{#        <div class="heading_container">#}
{#          <img src="/static/admin/images/heading-img.png" alt="">#}
{#          <h2>#}
{#            About Us#}
{#          </h2>#}
{#        </div>#}
{#        <p>#}
{#          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,#}
{#        </p>#}
{#        <div class="btn-box">#}
{#          <a href="">#}
{#            <span>#}
{#              Read More#}
{#            </span>#}
{#            <img src="/static/admin/images/link-arrow.png" alt="">#}
{#          </a>#}
{#        </div>#}
{#      </div>#}
    </div>
  </section>

  <!-- end about section -->

  <!-- animal section -->

  <section class="animal_section layout_padding">
    <div class="container">
      <div class="animal_container">
        <div class="box b1">
          <div class="img-box">
            <img src="/static/admin/images/poodl.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
               Dog
            </h5>

          </div>
        </div>
        <div class="box b2">
          <div class="img-box">
            <img src="/static/admin/images/cat2.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Cat
            </h5>

          </div>
        </div>
        <div class="box b1">
          <div class="img-box">
            <img src="/static/admin/images/rabbit.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Rabbit
            </h5>

          </div>
        </div>
        <div class="box b2">
          <div class="img-box">
            <img src="/static/admin/images/dove.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Dove
            </h5>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end animal section -->

  <!-- pet section -->

  <section class="pet_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="/static/admin/images/pet-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <img src="/static/admin/images/logooo.png" alt="">
              <h2>
                Caring for your pets
              </h2>
                <p>At Petify, we understand that pets are family. That’s why we offer everything your furry companions need — from expert grooming and reliable veterinary care to quality products and wellness support. We’re here to ensure your pets live happy, healthy, and loved lives, every day.</p>

            </div>


                <img src="/static/admin/images/link-arrow.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end pet section -->

  <!-- us section -->

  <section class="us_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <img src="/static/admin/images/logooo.png" alt="">
        <h2>
          Why Choose Us
        </h2>
     <p>
    Petify is your all-in-one pet care solution, offering everything from grooming and veterinary services to pet product shopping and smart pet identification. With trusted professionals, easy appointment booking, and exclusive deals, we make pet parenting simple and joyful. Join a community that truly cares for your furry friends.


    </p>
      </div>
      <div class="us_container">
        <div class="box">
          <div class="img1-box">
            <img src="/static/admin/images/pet1.png" alt="">
          </div>
          <div class="img2-box">
            <img src="/static/admin/images/omega.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              PET NUTRITIONISTS
            </h6>
          </div>
        </div>
        <div class="box">
          <div class="img1-box">
            <img src="/static/admin/images/pet2.png" alt="">
          </div>
          <div class="img2-box">
            <img src="/static/admin/images/dog.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              STANDARDS
            </h6>
          </div>
        </div>
        <div class="box">
          <div class="img1-box">
            <img src="/static/admin/images/pet2.png" alt="">
          </div>
          <div class="img2-box">
            <img src="/static/admin/images/shield.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              QUALITY & SAFETY
            </h6>
          </div>
        </div>
      </div>

          <img src="/static/admin/images/link-arrow.png" alt="">
        </a>
      </div>
    </div>
  </section>

  <!-- end us section -->

  <!-- food section -->

  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <img src="/static/admin/images/logooo.png" alt="">
        <h2>
          Our Dog Food
        </h2>

      </div>
      <div class="food_container">
        <div class="box">
          <div class="img-box">
            <img src="/static/admin/images/f1.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Basic
            </h6>
            <h3>
              <span></span>200rs
            </h3>

          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="/static/admin/images/f2.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Medium
            </h6>
            <h3>
              <span></span>400rs
            </h3>

          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="/static/admin/images/f3.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Standard
            </h6>
            <h3>
              <span></span>700rs
            </h3>

          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end food section -->

  <!-- client section -->

  <!-- end  footer section -->


  <script type="text/javascript" src="/static/admin/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/admin/js/bootstrap.js"></script>
  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width")
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    }
  </script>

</body>

</html>